:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}

.app {
  margin: 0;
  display: flex;
  place-items: center;
  min-width: 100vw;
  min-height: 100vh;
}

.all-items-div,
.all-books-div,
.all-quarterly-reports {
  display: flex;
  flex-direction: column;
  gap: 0.75rem;
}

.card {
  background-color: #171717;
  padding: 2rem;
  min-width: 350px;
  max-width: 450px;
  align-self: center;
}

.single-author-card {
  background-color: #171717;
}

.single-author {
  background-color: #171717;
  font-size: 0.75rem;
  display: grid;
  grid-template-columns: repeat(8, 1fr);
  border-bottom: 5px solid white;
}

.single-book {
  background-color: #171717;
  font-size: 0.75rem;
  display: grid;
  grid-template-columns: repeat(7, 1fr);
  border-bottom: 5px solid white;
}

.single-book-5 {
  background-color: #171717;
  font-size: 0.75rem;
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  border-bottom: 5px solid white;
}

.down-arrow {
  background-color: #474545;
  padding: 20px;
}

nav {
  background-color: #171717;
  position: sticky;
  top: 0;
  left: 0;
  padding: 1rem;
  width: 100vw;
}

a {
  padding: 1rem;
  color: white;
}

a:hover {
  color: lightgray;
}

button {
  padding: 0.75rem;
  background-color: #242424;
  color: white;
}
button:hover {
  background-color: #474545;
}

input {
  background-color: #474545;
  color: white;
}

input:hover {
  background-color: #51505a;
  color: white;
}
